html, body {
    height: 100%;
    margin: 5;
    overflow: hidden; /* Impede o scroll */

}

/* ------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    transition: background-color 0.5s, color 0.5s;

}

/* ------------------------------------------- */

header {
    /* width: 100%;
    height: 120px;
    background-color: rgb(58, 58, 58);
    font-size: xx-large;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 25px;
    color: white;  */
    background-color: rgb(77, 2, 2);
    color: #f0f0f0;
    height: 80px; /* Altura fixa para o header */
    width: 100%;
    text-shadow:  black 25px 5px 12px;
    box-sizing: border-box;
    /* padding: 15px 75px 0px 15px; */
    position: relative;
    display: flex;
    font-size: 25px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    transition: background-color 0.3s, color 0.3s;

}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(41, 41, 41, 0.437); Overlay semi-transparente */
    z-index: 0; /* Coloca o overlay atrás do conteúdo */
}

header h1, #config-btn2 {
    position: relative;
    z-index: 1; /* Coloca o texto e o botão acima do overlay */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra do texto */

}

.config-btn {


}

#config-btn2 {
    /* position: absolute;
    top: 20px;
    right: 15px;
    margin: 30px 0;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(58, 58, 58);;
    color: white;
    transition: background-color 0.3s, color 0.3s; */

    background-color: rgb(58, 58, 58);
    color: white;
    box-shadow: black 25px 5px 35px;
    border: outset;
    border-color: black;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;

}

/* ------------------------------------------- */

.filter {
    padding: 0px 40px;
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 20px;
    position: inherit;
  }

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    /* background-color: rgb(58, 58, 58); */
    background: linear-gradient(rgb(58, 58, 58), black 95%);
    transition: background-color 0.3s, color 0.3s;

}

.darkmode body {
    background-color: black;

    }

.darkmode header {
    background-color: rgb(59, 4, 59);
    color: white;
    }
  
.darkmode main {
    background: linear-gradient(black, rgb(59, 4, 59) 195%);
    transition: background-color 0.3s, color 0.3s;

    }



.voltar-bnt {
    border-radius: 10px;
    width: 70px; height: 30px;
    cursor: pointer;
    background-color: rgb(58, 58, 58);;
    color: white;
    transition: background-color 0.3s, color 0.3s;

}

/* ------------------------------------------- */

.menu-diagonal {
    display: flex;
    flex-direction: column;
    /* transform: rotate(-45deg); */

}

.menu-btn {
    margin: 30px 0;
    /* padding: 10px 140px; */
    font-size: 20px;
    cursor: pointer;
    /* transform: rotate(45deg);  Rotaciona os botões de volta para que o texto fique legível */
    /* border: 2px solid #333; */
    border-radius: 15px;
    background-color: rgb(58, 58, 58);;
    color: white;

    transition: background-color 0.3s, color 0.3s;

}

@media (max-width: 750px) {
    .menu-btn {
        flex-direction: column;
        padding: 10px 70px;

    }
}

/* ------------------------------------------- */

.menu-config {
    display: flex;
    flex-direction: column;

}

.config-btn {
    margin: 30px 0;
    padding: 10px 140px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(58, 58, 58);
    color: white;
    transition: background-color 0.3s, color 0.3s;

}

.mini-telinha {
    display: none; /* Escondido por padrão */
    position: absolute;
    align-items: center;
    background-color: rgb(58, 58, 58);
    border-radius: 12px;
    padding: 8px;
    box-shadow: 10px 10px 10px 0px rgb(0, 0, 0);
    z-index: 1000;

}

.mini-telinha button {
    display: flexbox;
    margin: 5px 10px;
    border-radius: 15px;

}

.menu-btn:hover, .config-btn:hover, .voltar-bnt:hover, .tab:hover, #config-btn2:hover {
    background-color: white;
    color: black;
    border-color: black;

}

/* ------------------------------------------- */


/* .img {
    background-image: linear-gradient(360deg, transparent, blue 90%);
    padding: 5px;
    
} */

/* .container {
    display: flex;
    flex: 1;
    width: 100%;
} */

.tabs-container {
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.tab {
    width: 300px;
    height: 400px;
    background-color:  rgb(77, 2, 2);;
    color: white;
    box-shadow: black 10px 15px 12px 5px;
    display: flex;
    border: 3px;
    border-color: black;
    border-radius: 15px;
    border-style: outset;
    /* justify-content: center;
    align-items: center; */
    cursor: pointer;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 30px;
    transition: background-color 0.5s;
     /* Sombra para efeito flutuante */

}

/* @media (max-width: 1000px) {
    .tabs-container {
        flex-direction: column;
        gap: 20px;

    }
}

    .tab {
        width: 80%;
        height: 200px;
        font-size: 24px;
    }    */

/* @media (max-width: 600px) {
    .tab {
        width: 90%;
        height: 150px;
        font-size: 20px;
        padding: 10px;
    }
} */

@media (max-width: 600px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
        text-align: center;
    }
}
    
    #config-bnt2 {
        margin-top: 10px;
        font-size: 14px;
    }

    header h1 {
        font-size: 24px;
    }
    
    